/* mixins, variables, etc. */

$charcoal: #414042;
$hotpink: #ec008c;

/* universal */

/* typography */

body {
  font-family: 'minion-pro', 'palatino linotype', georgia, serif;
  font-size: 18px;
}

div#container {
  margin: auto;
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  margin: 0;
}

ul, ul li { 
  list-style-type: none;
  padding: 0;
}


header {
  text-align: center;
  h1 { a { 
    text-decoration: none; 
    color: black;
}}
}

code { 
  display: block;
  font-size: 14px;
  background: black;
  color: white;
  line-height: 28px;
  padding-left: 10px;
  margin-top: 5px;
}

a { &:hover { color: $hotpink }}

ul.posts li, ul.writing li, ul.resources li {
  time.date { 
    font-size: 14px;
    font-family: monaco, monospace;
    color: $charcoal;
  }
}

footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  color: gray;
  ul {
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-right: 10px;
      a { 
        color: gray;
        text-decoration: underline;
      }
    }
  }
}
