/* mixins, variables, etc. */
/* universal */
/* typography */
body {
  font-family: 'minion pro'; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: #ec008c; }

/* header */
header nav {
  position: fixed;
  top: 0;
  right: 0; }
  header nav h1#site-name {
    margin: 0; }
  header nav ul.nav {
    margin: 0;
    /* overwrite Bootstrap default */ }
    header nav ul.nav a {
      color: white;
      background-color: #414042;
      padding: .75em 1.2em 1em 1.2em;
      font-family: monaco, monospace; }
      header nav ul.nav a:hover {
        background-color: #ec008c;
        color: white; }

/* content */
/* footer */
/* home */
h2#page-title {
  display: none; }
