/* mixins, variables, etc. */
/* universal */
/* typography */
body {
  font-family: "minion-pro", "palatino linotype", georgia, serif;
  font-size: 1.1em;
  line-height: 1.55em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0; }

a {
  color: #ec008c; }
  a:hover {
    color: #ec008c; }

/* header */
header {
  background-color: #414042;
  margin: 0 0 1.5em 0; }
  header nav.container a.brand {
    color: gray;
    font-size: 1.3em;
    line-height: 1.3em;
    padding: 0.4em 0.8em 0.4em 0; }
    header nav.container a.brand:hover {
      color: #ec008c;
      text-decoration: none; }
  header nav.container ul {
    margin: 0;
    /* overwrite Bootstrap default */
    list-style-type: none; }
    header nav.container ul a {
      color: white;
      padding: 0.9em 1.2em 1em 1.2em;
      font-family: monaco, monospace;
      font-size: .8em;
      display: block; }
      header nav.container ul a:hover {
        background-color: #ec008c;
        color: white;
        text-decoration: none; }
    header nav.container ul li.posts-link {
      display: none; }
  header nav.container button.btn {
    margin: 8px 0 0 8px;
    padding-left: 10px;
    /* overwrite Bootstrap default */
    padding-right: 8px;
    /* overwrite Bootstrap default */ }

/* content */
div#content h1#page-title {
  font-size: 1.25em;
  margin: 0 0 0.3em 0;
  text-align: center;
  color: black; }
div#content h2 {
  font-size: 1.15em;
  color: black; }

/* footer */
footer {
  padding: 2em 0 2em 0;
  line-height: 1.275em;
  color: gray; }
  footer ul.contact li {
    list-style-type: none; }
    footer ul.contact li a {
      color: gray;
      text-decoration: underline; }

/* home */
p.about {
  margin: 0; }

h2#posts-header {
  font-size: 1.25em;
  margin: 0.75em 0 0.3em 0; }

ul.posts li, ul.writing li {
  line-height: 1.5em;
  list-style-type: none; }
  ul.posts li time.date, ul.writing li time.date {
    font-family: monaco, monospace;
    font-size: .8em;
    color: #414042; }
  ul.posts li a, ul.writing li a {
    color: black;
    text-decoration: underline; }

/* websites */
div.row-fluid.site {
  padding: 0 0 2em 0; }
  div.row-fluid.site img {
    border: 5px solid #414042; }
  div.row-fluid.site ul.websites {
    margin-left: 0; }
    div.row-fluid.site ul.websites li {
      list-style-type: none;
      line-height: 1.5em; }
      div.row-fluid.site ul.websites li span.attributes {
        font-family: monaco, monospace;
        font-size: .8em; }
