/* mixins, variables, etc. */

$charcoal: rgb(65, 64, 66);
$hotpink: rgb(236, 0, 140);

@mixin vertical-gradient($top, $bottom) {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($top), to($bottom));
  background: -webkit-linear-gradient(top, $top, $bottom); 
  background:    -moz-linear-gradient(top, $top, $bottom);     
  background:      -o-linear-gradient(top, $top, $bottom);
}

/* universal */

/* typography */

body {
  font-family: 'minion pro';
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

a {
  color: $hotpink;
  &:hover {
  }
}

/* header */

header {
  nav { 
    position: fixed;
    top: 0;
    right: 0;
    h1#site-name { 
      margin: 0;
    }
    ul.nav {
      margin: 0; /* overwrite Bootstrap default */
      a {
        color: white;
        background-color: $charcoal;
        padding: .75em 1.2em 1em 1.2em;
        font-family: monaco, monospace;
        &:hover {
          background-color: $hotpink;
          color: white;
        }
      }
    }
  }
}


/* content */

div#content {
  h2#page-title {
  }
}

/* footer */

/* home */

h2#page-title { display: none; }
