<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    <!-- css -->
    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-responsive.min.css" media="all" rel="stylesheet" type="text/css">  
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css">

    <!-- javascripts -->
    <script type="text/javascript" src="//use.typekit.net/syv4lmf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="javascripts/modernizr.js" type="text/javascript"></script>
    <script src="javascripts/respond.min.js" type="text/javascript"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31463263-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <!-- header -->
    <header class="navbar-static-top">
        <nav class="navbar-inner">
          <div class="container">
            <div class="row-fluid">
              <div class="span12">
                <a class="brand pull-left" href="/">Aaron E. Macy</a>
                <ul class="nav pull-right">
                  <li class="pull-left"><a href="websites.html">websites</a></li>
                  <li class="pull-left"><a href="writing.html">writing</a></li>
                  <li class="pull-left"><a href="aaron-macy-resume.md">resume</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <!-- page-specific content -->
    <div class="container" id="content">
      {{ content }}
    </div>

    <!-- footer -->
    <footer>
      <small>
        <div class="container">
          <ul class="contact pull-right">
            <li>aaronmacy@gmail.com</li>
            <li><a href="http://twitter.com/amacy/" target="_blank">twitter.com/amacy</a></li>
            <li><a href="http://github.com/amacy/" target="_blank">github.com/amacy</a></li>
            <li><a href="http://instagram.com/amacy/" target="_blank">instagram.com/amacy</a></li>
          </ul>
        </div>
      </small>
    </footer>
  </body>
</html>
